.container {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 2em;
}

#input-text {
  font-size: 2em;
}

#dropdown-content {
  font-size: 2em;
}

#translate-button {
  font-size: 2em;
}
